body
  { margin: 2em; }

h2.label
  { color: #b2b2b2; font-size: 12px; font-weight: 300; text-transform: uppercase; border-bottom: 1px solid #e0e0e0; }

.index
  { border-bottom: 1px solid #999;
    padding: 0.25em 0 0.2em 0;
    margin: 0 0 0 0;
    clear: both; }

.index .basic-info
  {
    margin: 0.5em 0 0.5em 0; }

.index .extra-info
  { /*display: none;*/
    padding: 0.5em 0 0 0;
    border-top: 1px solid #e0e0e0;
    width: 100%; }

.index h3
  { font-size: 14px;
    margin-right: 0.5em;
    float: left; }

.index h3 small
  { font-weight: normal; }

.index .shards
  { float: left; }

.index .shards .shard
  { background: #ccc;
    float: left;
    padding: 0.25em;
    margin: -0.15em 0 0.25em 0.25em; }

.index .shard.primary
  { background: #62b9f3; }

.index .shard.STARTED
  { background: #bbf866; }
.index .shard.UNASSIGNED
  { background: #ffea3f; }

.index .shard.primary.STARTED
  { background: #62b9f3; }
.index .shard.primary.UNASSIGNED
  { background: #d82f43; }

.index .node
  { background: #f9f9f9;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 0.5em;
    margin: 0 0.25em 0.25em 0;
    float: left; }
